.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 80px 170px;
}
.about-title {
  position: relative;
}
.about-title h1 {
  padding: 0px 30px;
  font-size: 80px;
  font-weight: 600;
}

/* pattern image behind the title */
.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.about-sections .left img {
  width: 3in; /* 2 inches wide */
  height: 3in; /* 2 inches tall */
  border: 1px solid #000; /* Optional: border to visualize the photo size */
  object-fit: cover; /* Ensures the image covers the specified area */
  border-radius: 50%; /* Rounded corners, adjust as needed */
  margin-left: 0%;
}
.about-sections {
  display: flex;
  gap: 80px;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 24px;
  font-weight: 500;
}
.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}
.about-skill p {
  min-width: 150px;
  font-size: 24px;
  font-weight: 500;
}
.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
}
.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 80px;
}
.about-achievment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
}
/* one main div and if not given div inside then aplly flex to main diuv all ele will flex so thats why we used internal divs as well and give main div to flex so that all data isnide inner div flex and that inside div you can use diff styling */
.about-achievment h1 {
  font-size: 60px;
  font-weight: 700;
  background: linear-gradient(270deg, #df8908 10%, #b415ff 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about-achievment p {
  font-size: 22px;
  font-weight: 500;
}
.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
.about-achievment:hover {
  transform: scale(1.12);
  transition: 0.5s;
}
@media (max-width: 768px) {
  .about {
    gap: 80px;
    margin: 50px 70px;
    align-items: start;
  }
  .about-title h1 {
    font-size: 50px;
    padding: 0;
  }
  .about-title img {
    width: 130px;
    right: -20px;
  }
  .about-sections {
    flex-direction: column;
  }
  .left {
    display: none;
  }
  .para {
    font-size: 18px;
    line-height: 32px;
  }
  .about-skill p {
    font-size: 20px;
  }
  .about-skill hr {
    height: 6x;
  }
  .about-achievements {
    justify-content: space-between;
  }
  .about-achievment {
    gap: 10px;
  }
  .about-achievment h1 {
    font-size: 34px;
    font-weight: 700;
  }
  .about-achievment p {
    text-align: center;
    font-size: 16px;
  }
}
